*.o
schema-init
schema-ctl
schema-journal-sink
schema-init-static
release/
desktop/schema-desktop
*.log
*.vmdk
__pycache__/
*.pyc
schema-subreaper
schema-board
schema-udev
tests/livetest/boot-logs/boot-*.txt
